.issue-card p.project {
    border: 1px solid #111;
    padding: 1px 3px;
    text-align: center;
    background-color: #111;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 3px;
}
.issue-card p.name {
    font-weight: 700;
    font-size: 16px;
    color: #000;
}
.issue-card p.name a {
    font-weight: 600;
}
