.issue-card p.project {
    border: 1px solid #111;
    padding: 1px 3px;
    text-align: center;
    background-color: #111;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 3px;
}
.issue-card p.name {
    font-weight: 700;
    font-size: 16px;
    color: #000;
}
.issue-card p.name a {
    font-weight: 600;
}

.agile-board .container-fixed {
    overflow-x: scroll
}
.agile-board table.list.issues-board {
    width: 1800px;
}


.issue-card {
    background-color: #ebecf0;
    margin: 0px;
    padding: 14px;
    border: none;
}

.issue-card::before {
  background: red;
  position: absolute;
  content: ' ';
}

.issue-card::after {
    background: #fff;
    position: absolute;
    content: ' ';
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
    z-index: -1;
    border-radius: 5px;
}


table.issues-board tbody td::before,
table.issues-board tbody tr.issue:hover td::before {
  background-color: #ebecf0;
  border-radius: 3px;
  position: absolute;
  content: ' ';
}

.issues-board .add-issue {
    border: none;
    padding: 0px;
    margin: 0;
    background: #ebecf0;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

