body, button, html, input, select, textarea {
    color: #172b4d;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
h1, h2, h3, h4 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
}

/* Agile style */

#sidebar {
    flex-shrink: 0;
    padding-left: 10px;
    background: #eee;
    border-left: 1px solid #ddd;
    width: 90px !important;
}

.issue-card p.project {
    border: 1px solid #111;
    padding: 1px 3px;
    text-align: center;
    background-color: #111;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 3px;
}
.issue-card p.name {
    font-weight: 700;
    font-size: 16px;
    color: #000;
}
.issue-card p.name a {
    font-weight: 600;
}

.agile-board .container-fixed {
    overflow-x: scroll
}
.agile-board table.list.issues-board {
    width: 1800px;
}

.agile-board table.list.issues-board tbody tr, .agile-board table.list.issues-board tbody tr:hover {
    background-color: transparent;
}

.issue-card {
    background-color: #ebecf0 !important;
    margin: 0px;
    padding: 14px;
    border: none;
    z-index: 1;
}

.issue-card::before {
  background: red;
  position: absolute;
  content: ' ';
}

.issue-card::after {
    background: #fff;
    position: absolute;
    content: ' ';
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    left: 5px;
    top: 5px;
    z-index: -1;
    border-radius: 5px;
}
.issue-card::first-child {
	border-radius: 0 0 5px 5px;
}

table.issues-board tbody td::before,
table.issues-board tbody tr.issue:hover td::before {
  background-color: #ebecf0;
  border-radius: 3px;
  position: absolute;
  content: ' ';
}

.issues-board .add-issue {
    border: none;
    padding: 0px;
    margin: 0;
    background: #ebecf0;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}

.issue-card img.gravatar {
    padding: 0;
    border: none;
    background: #fff;
    vertical-align: middle;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.issue-card .user a {display:none;}



.agile-board .container-fixed {
    overflow-x: scroll;
    background: transparent url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/6620a12520bfed8c0dbb33600b5e019a/photo-1510495953850-ddd057203644.jpg") no-repeat scroll center center / cover;
}


/** issue detail **/
.controller-issues #content {
  background-color: #f4f5f7;
}
.controller-issues div.issue {
  background: transparent;
}
.controller-issues .journal {
    margin-bottom: 10px;
}
.controller-issues .journal > div {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dedede;
    padding: 5px;
}
.controller-issues div.journal h4 img.gravatar {
    position: relative;
    left: -7px;
    border: none;
    border-radius: 50%;
}


